<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Market Forecast</title>
</head>

<body>
    <div>
        <div class="header">
            <img src="static/img/candlestick.png" class="header-emoji navbar-brand" alt="">
            <h1 class="header-title">Market Forecast</h1>
        </div>
        <div class="menu">
            <div>
                <div class="menu-title">Ticker</div>
                <div class="dropdown">
                    <select id="ticker-field" aria-label="Default select example" onchange="makeRequest()">
                        <option value="BTC" selected>BTC</option>
                        <option value="ETH">ETH</option>
                        <option value="S&P500">S&P500</option>
                        <option value="AAPL">AAPL</option>
                        <option value="AMZN">AMZN</option>
                        <option value="GOOG">GOOG</option>
                        <option value="MSFT">MSFT</option>
                        <option value="TSLA">TSLA</option>
                    </select>
                </div>

            </div>
            <div>
                <div class="menu-title">Model type</div>
                <div class="dropdown">
                    <select id="model-field" aria-label="Default select example" onchange="makeRequest()">
                        <option value="xgb" selected>XGBoost</option>
                        <option value="linear" selected>Linear Regression</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="wrapper">
            <div id="chart" style="height: 400px">
        </div>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">


        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(makeRequest);

        function drawChart(ticker, prices) {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Day');
            data.addColumn('number', 'Close');
            data.addColumn('number', 'Predicted');
            data.addRows(prices);

            var options = {
                hAxis: { textPosition: 'none' },
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart'));

            chart.draw(data, options);
        }


        function makeRequest() {
            var ticker = document.getElementById("ticker-field").value;
            var model = document.getElementById("model-field").value;
            req = $.ajax({
                url: "/get_ticker_data",
                data: { 'ticker': ticker, 'model': model}
            });

            req.done(function (data) {
                drawChart(ticker, data.prices);
            });
        }

    </script>
</body>

</html>